body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.HEADER{
  background-color: #FFEF82;
  font-family: 'Tapestry', cursive;
  width: 30%;
  height: 75px;
  color: black;
  border-radius: 40px;
}
.text_1{
   font-size: 22px;
   font-family: 'Roboto Mono', monospace;
   color: black;
}
#capturebtn , #checkbtn{
  background-color: #FFEF82;
  border-radius: 40px;
  font-family:'Roboto Mono', monospace ;
  font-size: 15px;
  color: black;

}
label{
  color: black ;
  font-family:'Roboto Mono', monospace ;
  font-size: 20px;
}
.label_1{
  background-color: #FFEF82;
  font-family: 'Patrick Hand', cursive;
}
